*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: blue;
}
.container{
    margin-top: 6rem;
    height: 70vh;
    width: 90vh;
    background-color: rgb(225, 245, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container h3{
    text-transform: capitalize;
font-size: 2rem;
}
.jokebtn{
    width: 5rem;
    text-transform: capitalize;
    background-color:black;
    color:yellow;
    cursor: pointer;
}
.joke{
    font-size: 1.5rem;
    text-transform: capitalize;
}